body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.movieThumbnail {
  width: 400px;
  height: 600px;
  margin: 20px auto;
}

#Ourplanet {
  width: 100%;
  margin: 20px auto;

}

#Blueplanet {
  width: 50%;
  margin: 20px auto;
}

#thewalkingdead {
  width: 100%;
  margin: 20px auto;
}

.navbarTitle {
  color: white;
}

body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
	margin: 0 auto;

}

p {
  color: white;
}


header nav {
  margin-top: 30px;
  float: left;
}

header nav {
  float: right;
}

header nav ul {
  margin-top: 73px;
}

header nav ul li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}


footer nav {
  float: left;
}


footer nav ul li {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}

footer nav ul li a {
  font-weight: 400;
  font-size: 10px;
  color: white;
}

footer {
  width: 100%;
  background-color: #222;
  padding: 60px 0px;
}
