body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.movieThumbnail {
  width: 400px;
  height: 600px;
  margin: 20px auto;
}

.navbarTitle {
  color: white;
}

body {
  background-color: black;
}

h1 {
  color: white;
}

p {
  color: white;
}

footer {
  width: 100%;
  background-color: #222;
  padding: 60px 0px;
}
