body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

footer nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
  }
  
  footer nav ul li a {
    font-weight: 400;
    font-size: 10px;
    color: white;
  }
  
  footer {
    width: 100%;
    background-color: #222;
    padding: 60px 0px;
  }

  p {
      color: white;
  }

  .movieThumbnail2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }


.gallery {
  width: 200px;
  display:flex;
  align-items: center;
  justify-content: right;
  height: 200px;
}

.gallery img {
  margin: 0 20px;
}

.button2 {
  align-items: center;
  
}