body {
    background-color: black;
}

h1 {
    color: white;
}

footer nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
  }
  
  footer nav ul li a {
    font-weight: 400;
    font-size: 10px;
    color: white;
  }
  
  footer {
    width: 100%;
    background-color: #222;
    padding: 60px 0px;
  }

  p {
      color: white;
  }