body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#breakingbad{width: 50%; margin: 20px auto;}

#modernfamily{width: 50%; margin: 20px auto;}

#friends{with: 50%; margin: 20px auto;}

#janethevirgin{width: 50%; margin: 20px auto;}

#strangerthings{width: 50%; margin: 20px auto;}

#thewitcher{width: 50%; margin: 20px auto;}
